@tailwind base;
@tailwind components;
@tailwind utilities;

.welcome {
    background-color: bisque;
    border: 3px solid black;
}

.login-unavailable {
    background-color: red;
}

.login-available {
    background-color: green;
}